.Header {
    height: 20%;
    width: 100%;
    background-color: gray;
    top: 0px;
    position:fixed;

}
.Footer{
    height:20%;
    width:100%;
    bottom:0px;
    background-color:gray;
    position:fixed
}
.Navigation{
    height:60%;
    width:25%;
    background-color:orange;
   top:20%;
   position:fixed;
   font-size:20px;
   
}
.Content
{
 height:60%;
 width:75%;
 left:25%;
 top:20%;
 position:fixed;
 background-color:lightblue;

}
